<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>ESL payment gateway</h4>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary btn-sm"  onclick="return  popitup('cashenvoy/index.php')">
                            Pay
                        </button>
                    </li>
                </ul> 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>School</th>
                                <th>User ID</th> 
                                <th>Result ID</th> 
                                <th>Ref.</th>
                                <th>Amount </th>
                                <th>&nbsp;</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in trans" ng-if="trans.length > 0">
                                <td>{{$index + 1}}</td>
                                <td>{{tr.school_abr}}</td>
                                <td>{{tr.user_id}}</td>
                                <td>{{tr.result_id}}</td>
                                <td>{{tr.ref}}</td>
                                <td>#{{tr.amount}} </td>
                                <td>
                                    <div ng-if="tr.status == 'C00'">
                                        <a ng-if="tr.pay_used == 'no'" ng-click="setCurrent(tr)" href="" data-toggle="modal" data-target="#fetch_result">fetch</a>
                                    
                                        <a href="receipt.php">receipt</a>  
                                    
                                        <a href="" ng-if="tr.result_json" ng-click="getResult(tr)" data-toggle="modal" data-target="#view_result" >view</a>
                                    </div>
                                    <div ng-if="tr.status != 'approved'">
                                        <a href="receipt.php">Check Pay Status</a>  
                                    </div>
                                </td>
                                
                            </tr>
                            <tr ng-if="trans.length < 1">
                                <td colspan="8"><div class="alert alert-warning">You have not made any payment for result verification click the above pay button </div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="card-footer">Footer</div>
        </div>
    </div>
</div>




<!-- View Result Modal -->
<div class="modal fade" id="view_result">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Result</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <b>Exam Name :</b> {{result.exam_name}} <br/>
                        <b>Exam Type :</b> {{result.exam_type}} <br/>
                        <b>Exam Year :</b> {{result.exam_year}} <br/>
                        <b>Exam Number :</b> {{result.exam_number}} <br/>
                        <b>Candidate Name :</b> {{result.candidate_name}} <br/>
                        <b>Exam Center :</b> {{result.exam_center}} <br/>
                        <br/>
                        <b>Subject/Score</b> 
                        <table class="table table-sm ">
                            <tbody>
                                <tr ng-repeat="rs in result.result">
                                    <td>{{rs.subject}}</td>
                                    <td>{{rs.score}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- ESL Payment Modal -->
<div class="modal fade" id="fetch_result">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Fetch O&apos;Level Result</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
                <!-- Modal body -->
            <div class="modal-body">
                <div class="align-content-center" ng-if="loader">
                    <b>processing, {{actions}} please wait </b> <img src="../img/loading.gif">
                </div>
                <div class="row" ng-if="fetched_result">
                    <div class="col-md-12">
                        <b>Exam Name :</b> {{fetched_result.exam_name}} <br/>
                        <b>Exam Type :</b> {{fetched_result.exam_type}} <br/>
                        <b>Exam Year :</b> {{fetched_result.exam_year}} <br/>
                        <b>Exam Number :</b> {{fetched_result.exam_number}} <br/>
                        <b>Candidate Name :</b> {{fetched_result.candidate_name}} <br/>
                        <b>Exam Center :</b> {{fetched_result.exam_center}} <br/>
                        <br/>
                        <b>Subject/Score</b> 
                        <table class="table table-sm ">
                            <tbody>
                                <tr ng-repeat="rs in fetched_result.result">
                                    <td>{{rs.subject}}</td>
                                    <td>{{rs.score}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-info">
                            <p>Is this  O&apos;Level result actually yours ? </p>
                        </div>
                        
                    </div>
                </div>
                <form novalidate name="olevel_form" ng-show="fetch_form">
                    <div class="form-control">
                        <div class="form-group">
                            <label for="sel1">Exam:</label>
                            <select class="form-control" name="exam_name" ng-model="olevel.exam_name" required="">
                                <option value="">--Choose--</option>
                                <option value="waec">WAEC</option>
                                <option value="neco">NECO</option>
                                <option value="nabteb">NABTEB</option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label for="sel1">Exam Type:</label>
                            <select class="form-control" name="exam_type" ng-if="olevel.exam_name == 'waec'" ng-model="olevel.exam_type" required="">
                                <option value="MAY/JUN">SCHOOL CANDIDATE RESULTS</option>
                                <option value="NOV/DEC">PRIVATE CANDIDATE RESULTS</option>
                            </select>
                            <select class="form-control" name="exam_type" ng-if="olevel.exam_name == 'neco'" ng-model="olevel.exam_type" required="">
                                <option value="1">June / July</option>
                                <option value="2">Nov / Dec</option>
                                <option value="3">BECE</option>
                                <option value="4">NCEE</option>
                            </select>
                            <select class="form-control" name="exam_type" ng-if="olevel.exam_name == 'nabteb'" ng-model="olevel.exam_type" required="">
                                <option value="01" selected="">MAY/JUN</option>
                                <option value="02">NOV/DEC</option>
                                <option value="03">Modular (March)</option>
                                <option value="04">Modular (December)</option>
                                <option value="05">Modular (July)</option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label for="pwd">Exam Year.:</label>
                            <input type="text"  class="form-control" id="exam_year" ng-model="olevel.exam_year">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Exam No.:</label>
                            <input type="text" class="form-control" id="exam_num" ng-model="olevel.exam_num">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Card pin.:</label>
                            <input type="text" class="form-control" id="card_pin" ng-model="olevel.card_pin">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Card Sn.:</label>
                            <input type="text" class="form-control" id="card_sn" ng-model="olevel.card_sn">
                        </div>
                    </div>
                </form>  
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                
                <button type="button" ng-show="fetch_form" ng-click="fetchResult(olevel)" class="btn btn-success btn-sm" >Submit</button>
                
                <button type="button" ng-if="fetched_result" ng-click="saveResult(fetched_result)" class="btn btn-success btn-sm" >Yes</button>
                <button type="button" ng-if="fetched_result" ng-click="resetForm()" class="btn btn-warning btn-sm" >No</button>
                
                <button type="button"  class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>